/* ----- Layout ----- */

.container {
    position: relative;
    margin: 74px auto;
    max-width: 1000px;
    display: flex;
    background-color: #F7CB9D;
    border-radius: 4px;
}

.container-shadow {
    -webkit-box-shadow: 0px 15px 46px -4px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 15px 46px -4px rgba(0,0,0,0.47);
    box-shadow: 0px 15px 46px -4px rgba(0,0,0,0.47);    
}

.col {
    flex: 50%;
    padding: 10px;
}

table {
    width: 100%;
}

/* ----- Buttons ----- */

.form-button {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}

.button-cell {
    width: 50%;
}

/* ----- First Step ----- */

.quantity-field {
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    padding: 5px;
    outline: none;
}

/* ----- Second Step ----- */

#second-step {
    display: none;
}

.credit-card {
    width: 50%;
}

.card-field {
    width: 25%;
}

.card-input {
    width: 6ch;
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    padding: 5px;
    outline: none;
}

.text-field {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    padding: 5px;
    outline: none;
}

/* ----- Information Column ----- */

.bottom-space {
    margin-bottom: 95px;
}

.image-col {
    vertical-align: top;
    width: 30%;
}

#house-image {
    background-image: url(/resources/images/house-targaryen.png);
    background-size: cover;
    display: inline-block;
    border: 1px rgba(0,0,0,0.1) solid;
    border-radius: 8px;
    z-index: 2;
    position: relative;
    margin: 0;
    height: 180px; 
    width: 180px;
    padding: 10px;
}

#house-image .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: rgba(114,114,114,1);
    color: #ffffff;
}

.sword-image {
    width: inherit;
    height: inherit;
}

.description-col {
    padding-left: 10px;
    width: 70%;
    vertical-align: top !important;
}

.description-col p {
    font-size: 14px;
}

.priceInput {
    background-color: transparent;
    border: none;
    text-align: right;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 19px;
}

.alignRight {
    float: right;
}