.container {
    position: relative;
    margin: 74px auto;
    max-width: 1000px;
    display: flex;
    background-color: bisque;
    border-radius: 4px;
}

.col {
    flex: 50%;
    padding: 10px;
}

#second-step {
    display: none;
}

table {
    width: 100%;
}

.image-col {
    width: 30%;
}

.description-col {
    width: 70%;
    vertical-align: top !important;
}

.alignRight {
    float: right;
}

.button-cell {
    width: 50%;
}

.card-field {
    width: 25%;
}

.card-input {
    width: 6ch;
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    padding: 5px;
    outline: none;
}

.sword-image {
    display: inline-block;
    border: 1px rgba(0,0,0,0.1) solid;
    border-radius: 8px;
    z-index: 2;
    position: relative;
    margin: 0;
    height: 180px; 
    width: 180px;
    padding: 10px;
}

.sword-image .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: rgba(114,114,114,0.9);
    color: #ffffff;
}

.sword {
    width: inherit;
}

.priceInput {
    background-color: transparent;
    border: none;
    text-align: right;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 19px;
}

.space {
    margin-bottom: 80px;
}

.credit-card {
    width: 50%;
}

.text-field {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    padding: 5px;
    outline: none;
}

.quantity-field {
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    padding: 5px;
    outline: none;
}

.form-button {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}